{% extends "base.html" %}
{% block section %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <form id="contactForm" method="post" action="/contact" enctype="multipart/form-data">
            <!-- Age range input-->
            <div class="form-floating mb-3">
                <select class="form-select" id="age" name="age" required>
                    <option value="" disabled selected>Choose an age range</option>
                    <option value="under 20">Under 20</option>
                    <option value="20-30">20-30</option>
                    <option value="30-40">30-40</option>
                    <option value="40-50">40-50</option>
                    <option value="50-60">50-60</option>
                    <option value="over 60">Over 60</option>
                </select>
                <label for="age">Age range</label>
            </div>
            <!-- Education level input-->
            <div class="form-floating mb-3">
                <select class="form-select" id="education" name="education" required>
                    <option value="" disabled selected>Choose your education level</option>
                    <option value="high school">High school</option>
                    <option value="college">College</option>
                    <option value="graduate school">Graduate school</option>
                    <option value="other">Other</option>
                </select>
                <label for="education">Education level</label>
            </div>
            <!-- Language input-->
            <div class="form-floating mb-3">
                <select class="form-select" id="language" name="language" required>
                    <option value="" disabled selected>Choose your preferred language</option>
                    <option value="English">C</option>
                    <option value="Spanish">C++</option>
                    <option value="Chinese">Python</option>
                    <option value="Korean">JavaScript</option>
                    <option value="Japanese">Django</option>
                    <option value="Other">Other</option>
                </select>
                <label for="language">preferred Language</label>
            </div>
            <!-- Photo upload input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="photo" name="photo" type="file" accept="image/*" required />
                <label for="photo">Upload your photo</label>
            </div>
            <!-- Submit Button-->
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
